---
import Route from "../components/Route.astro";
import TerminalCursor from "../components/TerminalCursor.astro";
import TerminalLine from "../components/TerminalLine.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { profile } from '../data/profile.ts';
---

<BaseLayout>
	<div class="container terminal"> 
		<TerminalLine>whoami</TerminalLine>
		<p>{profile.displayName}</p>
		<TerminalLine>./commentarii</TerminalLine>

		<nav class="terminal">
			<a href="/resume"><Route>resume</Route></a>
			<a href="/uses"><Route>uses</Route></a>
			<a href="/reading"><Route>reading</Route></a>
			<a href="/contact"><Route>contact</Route></a>
		</nav>

		<TerminalLine><TerminalCursor /></TerminalLine>
	</div>
</BaseLayout>
